@font-face {
  src: url(assets/fonts/Halo\ Outline.ttf);
  font-family: halo-outline;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(58, 102, 57);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navStyle {
  color:white;
}

#haloFont {
  font-family: halo-outline;
  font-size: 8rem;
  font-weight: 900;
  text-shadow: 2px 2px #2e2c2c;
}