@font-face {
  src: url(assets/fonts/Halo\ Outline.ttf);
  font-family: halo-outline;
}

@font-face {
  src: url(assets/fonts/halo-solid.ttf);
  font-family: halo;
}

.App {
  text-align: center;
  color: white;
  background-color: #2e2c2c;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(58, 102, 57);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navStyle {
  color:white;
}

#haloFont {
  font-family: halo-outline;
  font-size: 8rem;
  font-weight: 900;
  text-shadow: 8px 8px #2e2c2c;
}

/* About Page */
.paragrap-style {
  text-align: left;
}

.about-bg {
  color: white;
}

/* Medals Main Page */
.card-font {
  
}

/* Medals Details Page */
.medal-detail-name {
  font-family: halo;
  font-weight: bold;
  text-shadow: 4px 5px rgb(58, 102, 57);;
}
ul{
  color: #cecece;
  list-style: none;
  text-align: left;
}

span {
  color: white;
  font-weight: 900;
}

/* Animations */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}